.headerComponent {
	display: inline-block;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons {
	align-items: flex-end;
	margin-left: auto;
}

.icons:nth-child(2){
	border-right: 1px solid rgba(0, 0, 0, 0.26);
	padding-right: 12px;
}
